.ColorPicker {
  border: 1px solid silver;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.color__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.color__item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 250ms linear;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.ColorPicker__item--active {
  transform: scale(1.2);
}
